<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Forms</title>
        <style type="text/css">
            body {
                padding: 40px;
                background: #dde2fa;
            }
            .forms {               
                border: 2px solid #0b8eb4;
                padding: 5px;              
            }

            tr{
                padding-bottom: 10px;
                padding-top: 10px;
            }
            th{
                padding-right: 300px;
                padding-bottom: 20px;
                text-align: left;
            }
        </style>
    </head>
    <body>        
        <h3><a th:href="@{/}" href="apage.html">Home</a> </h3>       
        <h3>Forms  for last hour:</h3>
        <br>
        <table class="forms">
            <thead>
                <tr class="tr">
                    <th>ssoiid</th>
                    <th>formid</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="item : ${map}">
                    <td th:text="${item.key}">1</td>
                    <td th:text="${item.value}">1</td>
                </tr>
            </tbody>
        </table>        
    </body>
</html>